@charset "utf-8";

$mobile : "screen and (max-width:640px)";

.top{
  width: 100%;
  height: 35px;
  background-color: #000;

  @media #{$mobile}{
    width: 100%;
  }
  
  >ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 35px;
    margin: 0 auto;

    @media #{$mobile}{
      width: 100%;
    }
    
    >li{
      height: 5px;
      padding: 5px;
      color: #fff;
      font-size: 11px;
      line-height: 5px;

      &:nth-child(1){
        border-right: 1px solid #fff;
      }
      
      >a{
        display: block;
        color: #fff;
        font-size: 11px;
        text-decoration: underline;
      }
    }
  }
}

#wrap{
  position: relative;
  
  >header{
    position: relative;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    @media #{$mobile}{
      width: 100%;
    }

    &.fixed{
      position: fixed;
    }

    >.topbtn{
      display: none;

      @media #{$mobile}{
        display: none;
        position: absolute;
        left: 50%;
        top: 20px;
        width: 100px;
        height: 20px;
        margin-left: -50px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
      }
    }

    >h1.logo{
      position: absolute;
      left: 50px;
      top: 20px;
      width: 70px;
      background-image: url(./../images/logo.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      @media #{$mobile}{
        left: 50%;
        top: 15px;
        width: 100px;
        height: 30px;
        margin-left: -50px;
      }

      >a{
        display: block;
        height: 20px;
        text-indent: -9999px;
      }
    }

    >nav{
      position: absolute;
      left: 140px;
      top: 0;

      @media #{$mobile}{
        display: none;
      }

      >.gnb{
        display: flex;
        

        >li{
          padding: 0 15px;

          &:hover >a{
            color: #7d7d7d;
          }

          >a{
            display: block;
            height: 60px;
            font-weight: 400;
            font-size: 15px;
            line-height: 60px;
          }
        }
      }
    }

    >.login{
      display: flex;
      position: absolute;
      right: 50px;
      top: 0;

      @media #{$mobile}{
        right: 10px;
      }

      >li{
        padding: 0 10px;
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){

          @media #{$mobile}{
            display: none;
          }
        }

        &:nth-child(4),
        &:nth-child(5){

          >a{
            @media #{$mobile}{
              font-size: 20px;
            }
          }
        }

        &:hover > a{
          color: #7d7d7d;
        }

        &:nth-child(3){
          margin-right: 30px;
        }

        &:nth-child(4){
          padding: 0;

          @media #{$mobile}{
            margin-right: 10px;
          }
        }

        >a{
          display: block;
          height: 60px;
          font-size: 11px;
          font-weight: 400;
          line-height: 60px;
        }
      }
    }
  }

  
  >section.visual{
    width: 95%;
    margin: 0 auto;
    position: relative;
    
    @media #{$mobile}{
      width: 100%;
    }

    >.visual-container{
      position: relative;
      width: 100%;
      background-image: url(./../images/main-visaul.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      @media #{$mobile}{
        overflow: hidden;
        width: 95%;
        margin: 0 auto;
        background-position: 0 center;
      }

      >a{
        display: block;
        height: 900px;
        text-indent: -9999px;

        @media #{$mobile}{
          height: 600px;
        }
      }

      >h2{
        position: absolute;
        top: 250px;
        left: 50%;
        width: 700px;
        margin-left: -350px;

        @media #{$mobile}{
          top: 240px;
          width: 100%;
          margin-left: -50%;
        }

        >a{
          display: block;
          color: #fff;
          font-weight: 500;
          font-size: 58px;
          text-align: center;

          @media #{$mobile}{
            font-size: 30px;
          }
        }
      }

      >p{
        position: absolute;
        top: 340px;
        left: 50%;
        width: 700px;
        margin-left: -350px;

        @media #{$mobile}{
          top: 300px;
          width: 100%;
          margin-left: -50%;
        }

        >a{
          display: block;
          color: #fff;
          font-weight: 400;
          font-size: 17px;
          text-align: center;

          @media #{$mobile}{
            font-size: 15px;
          }
        }
      }

    }

    >.new-container{
      display: block;
      position: absolute;
      left: 50%;
      bottom: 400px;
      margin-left: -115px;
      
      @media #{$mobile}{
        display: flex;
        bottom: 200px;
        margin-left: -185px;
      }
      
      >.new{
        display: block;
        width: 230px;
        height: 40px;
        font-weight: 500;
        font-size: 12px;
        line-height: 40px;
        text-align: center;
        background-color: #fff;
        
        @media #{$mobile}{
          width: 180px;
        }
  
        &:nth-of-type(1){
          margin-bottom: 10px;

          @media #{$mobile}{
            margin-right: 10px;
          }
        }
        
  
        &:hover{
          opacity: 0.8;

        }
      }
    }
  }

  >section.product{
    width: 1200px;
    margin: 0 auto;

    @media #{$mobile}{
      width: 95%;
    }

    >.product-container{
      display: flex;
      width: 1000px;
      height: auto;
      margin: 60px auto 100px;
      justify-content: space-between;

      @media #{$mobile}{
        display: block;
        width: 100%;
        margin-bottom: 50px;
      }

      >ul{

        &:nth-of-type(1) > li:first-child{
          width: 450px;
          background-image: url(./../images/product1.jpg);
          background-size: cover;
          background-position: center center;

          @media #{$mobile}{
            width: 100%;
          }

          >a{
            display: block;
            height: 600px;
            text-indent: -9999px;
          }
        }

        &:nth-of-type(2) > li:first-child{
          width: 450px;
          background-image: url(./../images/product2.jpg);
          background-size: cover;
          background-position: center center;

          @media #{$mobile}{
            width: 100%;
          }

          >a{
            display: block;
            height: 600px;
            text-indent: -9999px;
          }
        }

        >li{
          width: 450px;

          @media #{$mobile}{
            width: 100%;
          }

          &:nth-child(2){
            margin-top: 6px;
          }

          &:nth-child(3) > a,
          &:nth-child(4) > a{
            font-size: 12px;
          }

          &:nth-child(4) > a{
            text-decoration: underline;
          }

          &:nth-child(4):hover >a{
            color: #7d7d7d;
          }

          >a{
            display: block;
            height: 30px;
            font-weight: 500;
            font-size: 13px;
            line-height: 30px;
          }

          >ol{
            display: flex;

            >li{

              &:nth-child(1){
                margin-right: 15px;
              }

              &:hover >a{
                color: #7d7d7d;
              }

              >a{
                display: block;
                height: 30px;
                font-weight: 500;
                font-size: 12px;
                line-height: 30px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    
    >p{
      height: 80px;
      font-size: 14px;
      font-weight: 500;
      line-height: 80px;
      text-align: center;
    }

    >ul{
      display: flex;
      justify-content: space-between;
      width: 500px;
      margin: 0 auto;
      margin-bottom: 100px;

      @media #{$mobile}{
        width: 410px;
      }

      >li{
        width: 150px;
        border: 1px solid #000;

        @media #{$mobile}{
          width: 130px;
        }

        &:hover{
          background-color: #000;
        }
        &:hover > a{
          color: #fff;
        }

        >a{
          display: block;
          height: 50px;
          font-weight: 500;
          font-size: 18px;
          line-height: 50px;
          text-align: center;
        }
      }
    }
  }

  >footer{
    position: relative;
    
    >.link{
      display: flex;
      width: 95%;
      margin: 0 auto;
      padding: 30px 0 60px;
      border-top: 1px solid #e7e7e7;
      box-sizing: border-box;

      @media #{$mobile}{
        width: 95%;
        flex-flow: row wrap;
      }

      >ul{

        >li{
          width: 200px;

          &:hover>a{
            color: #606060;
          }

          >a{
            display: block;
            height: 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
    }

    >.footer-container{
      display: flex;
      width: 100%;
      padding: 30px 0 60px 30px;
      background-color: #f8f8f8;
      box-sizing: border-box;

      @media #{$mobile}{
        flex-flow: row wrap;
        padding: 10px 0 30px 10px;
      }

      >a.h-logo{
        display: block; 
        width: 200px;
        height: 44px;
        text-indent: -9999px;
        background-image: url(./../images/footer_hyundai.png);
        background-size: contain;
        background-repeat: no-repeat
      }

      >.container{
        width: 200px;

        @media #{$mobile}{
          width: 100%;
        }

        >ul.hyundai{
  
          @media #{$mobile}{
            display: flex;
            width: 100%;
            margin-top: 20px;
          }
          
          >li{
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            
            @media #{$mobile}{
              margin-right: 10px;
            }

            >a{
              height: 24px;
              font-size: 12px;
              font-weight: 500;
              line-height: 24px;
              border-bottom: 1px solid #000;
            }
          }
        }

        >p{
          margin-top: 10px;
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
  
          >a{
            height: 24px;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            border-bottom: 1px solid #000;
          }
        }

      }

      >ul.address{

        @media #{$mobile}{
          width: 100%;
          margin-top: 20px;
        }
        
        >li{
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
          
          &:last-child{
            margin-top: 20px;
          }

          >a{
            height: 24px;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            border-bottom: 1px solid #000;
          }
        }
      }

    }
  }
}